
<p>
  <strong>Title:</strong>
  <%= @email.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @email.text %>
</p>

<h3>Add a reply:</h3>
<%= form_with(model: [@email, @email.replies.build], local:true) do |form| %>

  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Edit', edit_email_path(@email) %>
|
<%= link_to 'Back', emails_path %>