<h3>Emails List </h3>

<br><%= link_to 'New Email!!!!!', new_email_path %><br><br>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <%  @emails.each do |email| %>
  <tr>
    <td><%= email.id %></td>
    <td><%= email.title %></td>
    <td><%= email.text %></td>
    <td><%= link_to 'Show Email', email_path(email) %></td>
    <td><%= link_to 'Edit Email', edit_email_path(email) %></td>
    <td><%= link_to 'Delete Email', email_path(email), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
    <% end %>
</table>

